@charset "utf-8";

* {
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
}

#loginForm{
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  background-color: #f3f9e8;
}

.clear{
    clear:both;
}

#contain_login{
    width:950px;
    height:400px;
    margin:0px auto;
    padding:0px;
    background: #FCFCFC;
    border-top:#008cbd 1px solid;
    border-bottom:#008cbd 1px solid;
}

.title{
    font-size: 22px;
    font-weight: bold;
    color: #76c3fc;
}


#login input[type=text],input[type=password]{
    padding: 5px;
    letter-spacing: 0.05em;
    background-image: -moz-linear-gradient(center bottom , white 85%, #EEEEEE 99%);
    border: 1px solid #AAAAAA;
    border-radius: 4px 4px 4px 4px;
    height: 35px;
    width: 95%;
}

a img {
    border:none;
}

/** custom login button **/
.flatbtn-blu { 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  outline: 0;
  border: 0;
  color: #edf4f9;
  text-decoration: none;
  background-color: #76c3fc;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  font-size: 1.3em;
  font-weight: bold;
  padding: 10px 0px 10px 0px;
  line-height: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0,0,0,0.3);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  width: 95%;
}
.flatbtn-blu:hover {
  color: #fff;
  background-color: #98ca3c;
}
.flatbtn-blu:active {
  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
}